.main {
    padding: 1.2rem 4rem;
    background-color: white;
    width: 100%;
    border-radius: 2rem;
    font-size: 1.4rem;
    font-size: 16px;
    display: flex;
    gap: .3rem;


    .selector {
        appearance: none;
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: .8rem 1.2rem;
        color: #333;
        cursor: pointer;
        outline: none;
    }

    button {
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: .8rem 1.2rem;
        color: #333;
        cursor: pointer;
        outline: none;
        background-color: darkcyan;
    }
}