.main {
    padding: 1.2rem 4rem;
    background-color: white;
    font-size: 1.4rem;
    font-size: 16px;
    display: flex;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 500;
    top: 6rem;
    width: 100%;




    .selector {
        appearance: none;
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: .8rem 1.2rem;
        color: #333;
        cursor: pointer;
        outline: none;
    }

    button {
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: .8rem 1.2rem;
        color: #333;
        cursor: pointer;
        outline: none;
        background-color: darkcyan;
    }
}