main {
    display: flex;
    padding: 3rem;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;


    .product {
    box-shadow: 0 0 6px rgba(0,0,0,0.25);
    border-radius: 2.4rem;
    overflow: hidden;
    width: 250px;
    transition: transform .1s linear;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }

    .image {
        height: 250px;
    }

    .info {
        padding: 2rem;
        font-size: 1.6rem;

        .title {
            font-weight: bold;
            margin-bottom: 0.8rem;
        }

        .price {
            font-style: italic;
        }
    }
}
}

