.likeButton {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    background-color: #f5f5f5;
    border: 1px solid lightgray;
    padding: 0.5em;
    border-radius: 1rem;

    &:hover {
        background-color: #e6e5e5;
    }

    &:active>.likeIcon {
        transform: scale(0.9);
    }

}

@media (max-width: 550px) {
    .likeButton {
        font-size: 1.6rem;
    }
}