.page {
    height: calc(100vh - var(--navbar-height));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    &>form {
        margin-top: calc(var(--navbar-height) * -1);
    }
}