.main {
    padding-inline: 5rem;
    padding-block: 3rem;
    background-color: #565ABB;
    width: clamp(45rem, 35%, 65rem);
    color: white;
    font-size: 1.6rem;
    height: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .header {
        font-size: 2.6rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    .form {
        display: flex;
        flex-direction: column;

        .inputCnr {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-bottom: 2rem;
            width: 100%;
            min-width: 0;

            input {
                padding: 1.1rem 1.8rem;
                border-radius: 0.6rem;
                background-color: #6268C6;
                caret-color: white;
                color: white;
                font-size: 1.6rem;
                border: 1px solid transparent;

                &::placeholder {
                    color: rgba(255, 255, 255, 0.4);
                }

                &:focus {
                    border-color: rgb(214, 214, 3);
                }
            }
        }

        .inputGroup {
            display: flex;
            gap: 1rem;
        }
    }

    .totalInfo {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        border-top: 2px solid #5F65C3;
        padding-block: 2.5rem;
        margin-top: 1rem;

        .infoCnr {
            display: flex;
            justify-content: space-between;
        }
    }

    .checkoutBtn {
        font-size: 1.6rem;
        background-color: #4DE1C1;
        color: white;
        font-weight: bold;
        padding: 1.8rem 4.5rem;
        border-radius: 1.2rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: center;
    }
}

@media (max-width: 900px) {
    .main {
        width: 100%;
        padding-block: 5rem;
        padding-inline: 18rem;
    }
}