.page {
    height: calc(100vh - var(--navbar-height));
    display: flex;
    justify-content: center;

    .cartCnr {
        font-size: 1.6rem;
        width: max-content;
        height: max-content;
        flex-grow: 1;
        height: 100%;
        display: flex;
        flex-direction: column;

        .pageHeading {
            padding: 5rem;
            padding-bottom: 2rem;

            .backBtnCnr {
                font-weight: bold;
                font-size: 2.2rem;
                padding-bottom: 3rem;

                .backIcon {
                    font-size: 1.8rem;
                }
            }

            .headingText {
                font-size: 1.8rem;
                padding-top: 3rem;
                font-weight: bold;
                border-top: 2px solid lightgray;
                display: flex;
                justify-content: space-between;

                .goBtn {
                    display: none;
                    padding: 0.8rem 1rem;
                    border: 1px solid black;
                    border-radius: 0.6rem;
                }
            }
        }

        .cart {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            padding-bottom: 3rem;
            min-height: 0;

            .productsCnr {
                padding: 5rem;
                padding-top: 1rem;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                overflow-y: auto;
                overflow-y: auto;
                min-height: 0;

                .message {
                    text-align: center;
                }

                .product {
                    padding: 1rem;
                    padding-right: 2rem;
                    display: flex;
                    gap: 3rem;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 1.5rem;
                    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);

                    .left {
                        display: flex;
                        align-items: center;
                        gap: 2rem;

                        .imageCnr {
                            border: 1px solid lightgrey;
                            border-radius: 0.8rem;
                            height: 8rem;
                            width: 8rem;
                            flex-shrink: 0;
                            overflow: hidden;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .productImage {
                                height: 100%;
                            }
                        }

                        .productMain {
                            .productTitle {
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            .productQuantityCnr {
                                display: flex;
                                align-items: center;
                                gap: 6px;
                                margin-top: 8px;
                                font-size: 18px;
                            }

                            .counterButton {
                                background: none;
                                border: none;

                                .counterIcon {
                                    font-size: 18px;
                                    cursor: pointer;

                                    &:hover {
                                        color: lightslategray;
                                    }
                                }
                            }
                        }
                    }


                    .right {
                        display: flex;
                        gap: 2rem;

                        .totalPrice {
                            font-weight: bold;
                        }

                        .deleteBtn {
                            &:hover {
                                color: rgb(0, 78, 78);
                            }
                        }
                    }
                }
            }

        }
    }
}

@media (max-width: 900px) {
    .page {
        height: auto;
        flex-direction: column;

        .cartCnr {
            width: 100%;

            .pageHeading {
                .headingText {
                    .goBtn {
                        display: block;
                    }
                }
            }
        }
    }
}