.main {

    .buttonsCnr {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        background-color: white;
        padding: 0.8rem 3rem;
        border-bottom: 1px solid lightgray;

        button {
            padding: 1rem 2rem;
            background: none;
            font-weight: bold;
            border-radius: 1rem;
            border: none;
            color: white;
            cursor: pointer;
        }

        .editBtn {
            background-color: rgb(185, 102, 0);
        }

        .crossBtn {
            background-color: blue;
        }

        .updateBtn {
            background-color: darkgreen;
        }
    }


    .componentContainer {
        font-size: 1.6rem;
        margin: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .block {
            display: flex;
            flex-direction: column;
            width: 1010px;
            background-color: white;
            padding: 3rem;
            border: 1px solid lightgray;
            border-radius: 2rem;
            margin-bottom: 3rem;

            .heading {
                font-size: 2.2rem;
                font-weight: bold;
                color: #F7AA6C;
            }

            .inputGroup {
                display: flex;
                gap: 2rem;

                .inputCnr {
                    margin-top: 4rem;

                    label {
                        font-weight: 600;
                        display: block;
                        margin-bottom: 0.8rem;
                    }

                    .info {
                        border: 1px solid lightgray;
                        border-radius: 1rem;
                        padding: 0.8rem 1.5rem;
                        min-width: 300px;
                        max-width: 300px;
                        min-height: 4rem;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        outline: none;
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}