.main {
    padding-top: 60px;

    .componentContainer {
        font-size: 1.6rem;
        margin: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .buttonsCnr {
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
            background-color: white;
            padding: 0.8rem 3rem;
            border-bottom: 1px solid lightgray;
            position: fixed;
            top: var(--navbar-height);
            left: 0;
            width: 100%;
            z-index: 1;

            button {
                padding: 1rem 2rem;
                background: none;
                font-weight: bold;
                border-radius: 1rem;
                border: none;
                color: white;
                cursor: pointer;
            }

            .editBtn {
                background-color: rgb(185, 102, 0);
            }

            .crossBtn {
                background-color: blue;
            }

            .updateBtn {
                background-color: darkgreen;
            }
        }

        .block {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 1010px;
            background-color: white;
            padding: 3rem;
            border: 1px solid lightgray;
            border-radius: 2rem;
            margin-bottom: 3rem;

            .heading {
                font-size: 2.2rem;
                font-weight: bold;
                color: #F7AA6C;
            }

            .inputGroup {
                width: 100%;
                margin-top: 4rem;
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
                align-items: flex-end;

                .selector {
                    font-size: 1.6rem;
                    width: 20rem;
                }

                .inputCnr {
                    label {
                        font-weight: 600;
                        display: block;
                        margin-bottom: 0.8rem;
                    }

                    .textarea {
                        resize: none;
                        width: 100% !important;
                        white-space: normal;
                        overflow: visible;
                        text-overflow: clip;
                    }

                    .info {
                        border: 1px solid lightgray;
                        border-radius: 1rem;
                        padding: 0.8rem 1.5rem;
                        width: 300px;
                        min-height: 4rem;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 1.6rem;
                    }

                    .descriptionInfo {
                        width: 100%;
                        white-space: normal;
                        overflow: visible;
                        text-overflow: clip;
                    }
                }

                .tagCnr {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;

                    label {
                        font-weight: 600;
                    }

                    .tagsCnr {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: 1rem;

                        .tag {
                            position: relative;
                            background-color: #FFF3E0;
                            border-radius: 0.5rem;
                            padding: 0.6rem 1rem;
                            padding-right: calc(1rem + 17px);

                            .xBtn {
                                position: absolute;
                                right: 5px;
                                top: 50%;
                                transform: translateY(-50%);
                                font-size: 12px;
                            }
                        }
                    }
                }

                .imagePicker {
                    display: none;
                }

                .imagePickerLabel {
                    padding: 0.5rem 1rem;
                    background-color: goldenrod;
                    color: white;
                    border-radius: 1rem;
                    cursor: pointer;
                }

                .addFieldCnr {
                    display: flex;
                    gap: 1rem;
                    align-items: center;

                    .addFieldBtn {
                        padding: 0.8rem 1rem;
                        background-color: goldenrod;
                        color: white;
                        border: none;
                        border-radius: 1rem;
                        cursor: pointer;
                    }
                }

                .textAreaCnr {
                    width: 100%;

                    .textarea {
                        resize: none;
                        width: 100% !important;
                        border: 1px solid lightgray;
                        border-radius: 1rem;
                        padding: 0.8rem 1.5rem;
                        font-size: 1.6rem;
                    }
                }
            }


            .imageList {
                margin-top: 3rem;
                display: flex;
                flex-wrap: wrap;
                gap: 20px;

                .imageCnr {
                    position: relative;
                    height: clamp(100px, 15vw, 200px);
                    aspect-ratio: 1;
                    border: 1px solid lightgrey;
                    border-radius: 2rem;
                    overflow: hidden;

                    .image {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .iconCnr {
                        height: 2.5rem;
                        width: 2.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        position: absolute;
                        right: 8%;
                        top: 8%;
                        cursor: pointer;

                        .xIcon {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .main {
        .componentContainer {
            margin: 3rem 1.5rem 1.5rem;

            .block {
                padding: 2rem;

                .inputGroup {
                    width: 100%;
                    margin-top: 2rem;
                    display: flex;
                    flex-direction: column;

                    .inputCnr {
                        .info {
                            width: 100%;
                            white-space: wrap;
                            word-break: break-word;
                            overflow-wrap: break-word;
                        }
                    }
                }
            }
        }
    }
}