.main {
    font-size: 1.6rem;
    padding: 5rem;

    .mainHeading {

        .headingText {
            font-weight: bold;
        }
    }


    .cart {
        padding: 2rem;
        background-color: white;
        border: 1px solid red;


        .cartHeader {
            padding: 2rem;
            border: 1px solid blue;
            border-radius: 15px;
            font-weight: bold;
        }

        .productsCnr {
            padding: 2rem;
            border: 1px solid blue;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .product {
                padding: 0.8rem;
                display: flex;
                gap: 2rem;
                align-items: center;
                border-radius: 15px;
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);

                .imageCnr {

                    .productImage {
                        height: 80px;
                        border-radius: 8px;
                        border: 1px solid lightgray;
                    }
                }

                .orderInfo {

                    .productQuantityCnr {
                        display: flex;
                        align-items: center;
                        gap: 6px;
                        margin-top: 8px;
                        font-size: 18px;
                    }

                    .counterIcon {
                        font-size: 18px;
                    }
                }

                .totalPrice {
                    font-weight: bold;
                }
            }
        }


        .cartFooter {
            padding: 2rem;
            border: 1px solid blue;
            border-radius: 15px;
        }
    }
}