.main {
    color: black;
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    z-index: var(--modal-index);

    .overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.25);
        z-index: -1;
    }

    .modal {
        background-color: white;
        max-width: 600px;
        min-width: 350px;
        min-height: 200px;
        font-size: 1.6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        align-items: center;
        padding: 4rem clamp(20px, 3vw, 50px);
        border-radius: 3rem;
        animation: fadeIn 0.2s ease forwards;

        .body {
            text-align: center;
        }

        .buttonsContainer {
            display: flex;
            justify-content: center;
            gap: 3rem;

            button {
                padding: 1rem 2rem;
                border-radius: 3rem;
                color: white;
                transition: background-color 0.1s ease-in-out;
            }

            .confirmButton {
                background-color: #1E88E5;

                &:hover {
                    background-color: #1565C0;
                }

                &:active {
                    background-color: #0D47A1;
                }
            }

            .closeButton {
                background-color: #E53935;

                &:hover {
                    background-color: #D32F2F;
                }

                &:active {
                    background-color: #B71C1C;
                }
            }
        }
    }
}

@keyframes fadeIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 500px) {
    .main {
        .modal {
            min-width: 0;
            min-height: 0;
        }
    }
}