.main {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    z-index: var(--modal-index);

    .overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.25);
        z-index: -1;
    }

    .modal {
        background-color: white;
        max-width: 600px;
        min-width: 350px;
        min-height: 200px;
        font-size: 1.6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        align-items: center;
        padding: 3rem clamp(20px, 3vw, 50px);
        border-radius: 3rem;
        animation: fadeIn 0.2s ease forwards;

        .body {
            text-align: center;
        }

        .buttonsContainer {
            display: flex;
            justify-content: center;
            gap: 2.5rem;

            button {
                padding: 1rem 2rem;
                border-radius: 1rem;
                border: none;
                color: white;
                cursor: pointer;
            }

            .confirmButton {
                background-color: blue;

                &:hover {
                    background-color: rgb(59, 59, 255);
                }
            }

            .closeButton {
                background-color: red;

                &:hover {
                    background-color: rgb(250, 64, 64);
                }
            }
        }
    }
}

@keyframes fadeIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 500px) {
    .main {
        .modal {
            min-width: 0;
        }
    }
}