.pageContainer {
    padding: 3rem 14rem;
    font-size: 1.6rem;
    background-color: white;
    min-height: calc(100vh - 55px);

    .categoryContainer {
        color: #98A2B3;
        font-size: 2.4rem;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .categoryName {
            color: #39B856;
            font-weight: bold;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .mainInfo {
        display: flex;
        gap: 5rem;
    }
}