.main {
    padding: 3rem clamp(3rem, 8vw, 14rem);
    font-size: 1.6rem;
    background-color: white;
    min-height: calc(100vh - var(--navbar-height));

    .headLine {
        color: #98A2B3;
        font-size: 2.4rem;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .categoryName {
            color: #39B856;
            font-weight: bold;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .mainInfo {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 5rem;
        row-gap: 2rem;

        .gallery {
            grid-column: 1 / 2;
            grid-row: 1 / 3;
        }

        .heading {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }

        .info {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
    }
}

@media (max-width: 1200px) {
    .main {
        .headLine {
            font-size: 1.8rem;
        }

        .mainInfo {
            grid-template-columns: 1fr;
            row-gap: 3.5rem;

            .gallery {
                grid-column: 1;
                grid-row: 2;
                display: flex;
                justify-content: center;
            }

            .heading {
                grid-column: 1;
                grid-row: 1;
            }

            .info {
                grid-column: 1;
                grid-row: 3;
            }
        }
    }
}