.pageContainer {
    padding: 3rem 14rem;
    font-size: 1.6rem;
    background-color: white;
    min-height: calc(100vh - 5.5rem);

    .categoryContainer {
        color: #98A2B3;
        font-size: 2.4rem;
        margin-bottom: 2rem;

        .categoryName {
            color: #39B856;
            font-weight: bold;
        }
    }

    .mainInfo {
        display: flex;
        gap: 5rem;
    }
}