.productGallery {
    flex-shrink: 0;
    border: 1px solid darkcyan;
    border-radius: 2rem;
    width: 54rem;
    position: relative;

    .availability {
        width: max-content;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        position: absolute;
        right: 2rem;
        top: 2rem;
    }

    .mainImageContainer {
        width: 100%;
        aspect-ratio: 1;
        overflow: hidden;
        border-radius: 2rem;
        padding: 1.5rem;

        .mainImage {
            background-color: white;
            width: 100%;
            height: 100%;
            object-fit: cover;
            user-select: none;
        }
    }

    .galleryFooter {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        border-top: 1px solid lightgrey;


        .arrowButton {
            flex-shrink: 0;
            width: 35px;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid lightgray;

            &:hover {
                background-color: lightgrey;
            }

            .arrowIcon {
                width: 16px;
            }
        }

        .thumbnailsContainer {
            display: flex;
            justify-content: center;
            gap: 1.5rem;
            overflow: auto;
            scrollbar-width: none;
            cursor: pointer;
            user-select: none;

            .thumbnailWrp {
                width: clamp(55px, 5vw, 100px);
                flex-shrink: 0;
                aspect-ratio: 1;
                overflow: hidden;
                border: 1px solid lightgray;
                border-radius: 1rem;
                font-size: 8px;
                overflow: hidden;
                padding: 1rem;

                .thumbnail {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    border: none;
                }
            }

            .activeThumbnailWrp {
                border: 1px solid #1A432E;
            }

        }
    }
}

@media (max-width: 640px) {
    .productGallery {
        width: 100%;

        .galleryFooter {
            .thumbnailsContainer {
                max-width: 350px;
            }
        }
    }
}

@media (max-width: 640px) {
    .productGallery {
        .galleryFooter {
            .thumbnailsContainer {
                max-width: 250px;
            }
        }
    }
}

@media (max-width: 450px) {
    .productGallery {
        .galleryFooter {
            .thumbnailsContainer {
                max-width: 200px;
            }
        }
    }
}

@media (max-width: 380px) {
    .productGallery {
        .galleryFooter {
            .thumbnailsContainer {
                max-width: 150px;
            }
        }
    }
}