.toast {
    touch-action: none;
    position: fixed;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: min(80vw, 300px);
    border-radius: 2rem;
    padding: 2rem 3rem;
    color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-size: 1.6rem;
    z-index: var(--toast-index);
    animation: slideIn 0.2s linear;

    .icon {
        font-size: 2.4rem;
    }
}

@keyframes slideIn {
    from {
        top: 2.5rem;
    }

    to {
        top: 3rem;
    }
}