.main {
    position: relative;

    .btnCnr {
        height: 36px;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        color: white;
        overflow: hidden;
    }

    .loginBtnCnr {
        background-color: #1D4ED8;

        &:hover {
            background-color: #1b399b;
        }
    }

    .userBtnCnr {
        border: 1px solid lightgray;

        .userImage {
            height: 100%;
        }
    }

    .dropdown {
        position: absolute;
        top: 36px;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 0.4rem;
        overflow: hidden;
        z-index: 50000;

        .item {
            color: black;
            text-decoration: none;
            width: 100%;
            min-width: max-content;
            text-align: center;
            padding: 4px 12px;

            &:first-child {
                border-bottom: 1px solid lightgrey;
            }

            &:hover {
                background-color: lightgray;
            }
        }
    }
}