.main {
    .toggleBtn {
        font-size: 18px;

        &:hover {
            color: red;
        }

        &:active {
            transform: scale(0.9);
        }
    }

    .active {
        color: red;
    }
}