.main {
    font-size: 1rem;
    background-color: white;
    position: fixed;
    top: var(--navbar-height);
    right: 0;
    transform: translateX(100%);
    height: calc(100vh - var(--navbar-height));
    z-index: var(--liked-products-index);
    overflow-y: auto;
    overscroll-behavior: contain;
    border-left: 1px solid lightgrey;
    width: 44em;
    transition: transform 0.3s ease-in-out;

    .closeBtnCnr {
        background-color: white;
        padding: 1.4rem 2rem;
        position: sticky;
        top: 0;
        z-index: 2;

        .closeBtn {
            font-size: 18px;

            :hover {
                color: rgb(0, 78, 78);
            }
        }
    }

    .productsList {
        padding: 2em;
        display: flex;
        flex-direction: column;
        gap: 1.4em;

        .messageCnr {
            font-size: 1.6rem;
            display: flex;
            flex-direction: column;
            gap: 12px;
            align-items: center;

            .exploreBtn {
                display: flex;
                gap: 1rem;
                align-items: center;
                justify-content: center;
                border: 1px solid lightgray;
                padding: 0.8rem 1rem;
                width: max-content;
                border-radius: 1rem;

                &:hover {
                    border-color: black;
                }
            }
        }

        .product {
            padding: 1em;
            padding-right: 2em;
            display: flex;
            gap: 3em;
            justify-content: space-between;
            align-items: center;
            border-radius: 1.5em;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);

            .left {
                display: flex;
                align-items: center;
                gap: 2em;

                .imageCnr {
                    border: 1px solid lightgrey;
                    border-radius: 0.8em;
                    height: 8em;
                    width: 8em;
                    flex-shrink: 0;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .productImage {
                        height: 100%;
                    }
                }

                .productMain {
                    padding-block: 0.4rem;

                    .productTitle {
                        font-size: 1.6em;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .addToCartBtn {
                        margin-top: 0.8rem;
                        font-size: 1.4rem;
                        padding: 0.5rem 1.2rem;
                        border-radius: 0.5rem;
                        background-color: #FF0000;

                        &:hover {
                            background-color: #CC0000;
                        }

                        &:active {
                            background-color: #ad0303;
                        }
                    }
                }
            }

            .right {
                display: flex;
                gap: 2em;

                .totalPrice {
                    font-weight: bold;
                    font-size: 1.6em;
                }

                .deleteBtn {
                    &:hover {
                        color: rgb(0, 78, 78);
                    }
                }
            }
        }
    }
}

.activeMain {
    transform: translateX(0);
}

@media (max-width: 500px) {
    .main {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .main {
        font-size: 0.95rem;

        .productsList {
            padding: 1em;
        }
    }
}