header {
    height: 55px;
    padding-inline: 3rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: var(--navbar-index);

    .left {
        display: flex;
        align-items: center;
        gap: 12px;
        font-weight: bold;

        .logo {
            height: 35px;
        }
    }

    .right {
        display: flex;
        align-items: center;
        gap: 3rem;
        height: 100%;

        .navigation {
            .linksCnr {
                display: flex;
                gap: 20px;

                .link {
                    border-radius: 20px;
                    transition: all .05s linear;

                    &:hover {
                        color: rgb(173, 131, 23);
                    }
                }

                .active {
                    font-weight: bold;
                }
            }
        }
    }

}