.navbar {
    height: 55px;
    padding-inline: max(1.6vw, 15px);
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: var(--navbar-index);

    .left {
        display: flex;
        align-items: center;
        gap: 12px;
        font-weight: bold;

        .logo {
            height: 35px;
        }
    }

    .menuIcon {
        display: none;
        cursor: pointer;
        font-size: 1.8rem;
    }

    .right {
        height: 100%;
        background-color: white;

        .rightItemsCnr {
            display: flex;
            align-items: center;
            gap: 3rem;
            height: 100%;

            .smallScreenDropdown {
                width: 100%;
                display: none;
            }

            .navigation {
                .linksCnr {
                    display: flex;
                    gap: 20px;

                    .link {
                        transition: all .05s linear;

                        &:hover {
                            color: rgb(173, 131, 23);
                        }
                    }

                    .active {
                        font-weight: bold;
                    }
                }
            }

            .userActionBtns {
                height: 100%;
                display: flex;
                align-items: center;
                gap: 2.4rem;
            }
        }
    }
}

@media (max-width: 760px) {
    .navbar {
        .menuIcon {
            display: block;
        }

        .right {
            min-width: 280px;
            position: fixed;
            top: var(--navbar-height);
            right: 0;
            padding: 2rem 3rem;
            overflow: auto;
            height: calc(100vh - var(--navbar-height));
            border-left: 1px solid lightgray;
            transform: translateX(100%);
            transition: transform 0.3s ease-in-out;
            z-index: var(--navigation-sidebar-index);

            .rightItemsCnr {
                flex-direction: column-reverse;
                align-items: flex-end;
                gap: 3rem;
                height: auto;

                .smallScreenDropdown {
                    display: block;
                }

                .navigation {
                    .linksCnr {
                        flex-direction: column;
                        align-items: flex-end;
                    }
                }

                .userActionBtns {
                    height: auto;
                }
            }
        }

        .activeRight {
            transform: translateX(0);
        }
    }
}