:root {
    font-size: clamp(8px, 0.52vw, 12px);
    font-family: "Nunito", sans-serif;
}

input,
button,
textarea {
    font-family: "Nunito", sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F7F5F5;
    padding-top: 55px;
}