.sidebar {
    font-size: 1.6rem;
    background-color: white;
    min-width: 28rem;
    border-radius: 1rem;
    margin-left: 1.5rem;
    position: sticky;
    top: 14rem;
    height: calc(100vh - 18rem);
    overflow: auto;
    overscroll-behavior: contain;
    z-index: var(--categories-sidebar-index);
    border-right: 1px solid lightgray;

    .categoriesHeading {
        font-weight: bold;
        font-size: 1.8rem;
        border-bottom: 0.5px solid lightgrey;
        padding-bottom: 0.8rem;
        position: sticky;
        top: 0;
        padding: 1.7rem 2.5rem;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .categories {
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .category {
            text-decoration: none;
            color: black;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        .activeCategory {
            font-weight: 700;
        }
    }
}

@media (max-width: 920px) {
    .sidebar {
        position: fixed;
        top: var(--navbar-height);
        left: 0;
        margin-left: 0;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        height: calc(100vh - var(--navbar-height));
        border-radius: 0;
    }

    .activeSidebar {
        transform: translateX(0);
    }
}