.main {
    padding: 1.2rem 4rem;
    background-color: white;
    font-size: 1.4rem;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.1);
    border-top: .2px solid lightgrey;
    position: fixed;
    right: 0;
    z-index: 2000;
    top: 5.5rem;
    width: 100%;

    .selectCnr {
        position: relative;

        .selector {
            appearance: none;
            border: 1px solid #ccc;
            border-radius: 6px;
            padding: .8rem 3.2rem .8rem 1rem;
            color: #333;
            cursor: pointer;
            outline: none;
        }

        .sortIcon {
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
            color: gray;
            pointer-events: none;
        }
    }


    form {
        position: relative;

        input {
            outline: none;
            border: 1px lightgray solid;
            padding: .8rem 8rem .8rem 1.2rem;
            border-radius: 6px;
            width: 350px;
            font-size: 1.6rem;

            &::placeholder {
                font-style: italic;
            }
        }

        button {
            position: absolute;
            right: 0;
            height: 100%;
            padding: 0 2.5rem;
            color: white;
            background-color: grey;
            border-radius: 6px;
            border: none;
        }

        button:hover {
            background-color: darkgrey;
            cursor: pointer;
        }

        button:active {
            background-color: grey;
        }
    }
}