.page {
    position: relative;
    background-color: #F7F5F5;
    min-height: calc(100vh - var(--navbar-height));

    .content {
        display: flex;
        gap: 1rem;
        padding-top: 10rem;
    }
}

@media (max-width: 800px) {
    .page {
        .content {
            padding-top: 14.5rem;
        }
    }
}

@media (max-width: 600px) {
    .page {
        .content {
            padding-top: 12rem;
        }
    }
}