aside {
    font-size: 1.6rem;
    background-color: white;
    padding: 2.5rem;
    min-width: 28rem;
    min-height: 100vh;
    border-radius: 1rem;
    margin-left: 1.5rem;

    .categoriesContainer {

        .categoriesHeading {
            font-weight: bold;
            font-size: 1.8rem;
            margin-bottom: 0.7rem;
            border-bottom: 0.5px solid lightgrey;
            padding-bottom: 0.8rem;
        }

        .categories {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            .category {
                text-decoration: none;
                color: black;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            .activeCategory {
                font-weight: 700;
            }
        }
    }
}